body, html {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

body.light {
  -webkit-font-smoothing: antialiased;
  --bg: #ffffff;
  --hover-text: #0e182a;
  --text: #0e182a;
  --toggle: hsl(0, 0%, 100%);
  --tag: rgb(36, 120, 43);
  --tag-text: white;
  --consent-accept: rgb(36, 120, 43);
  --consent-accept-text: white;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #0e182a;
  --hover-text: #0e182a;
  --text: white;
  --toggle: rgb(218, 55, 19);
  --tag: rgb(97, 136, 184);
  --tag-text: white;
  --consent-accept: rgb(36, 120, 43);
  --consent-accept-text: white;
  --svg-color-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.navbar, .navbar-menu {
  background-color: var(--bg) !important;
}

.navbar-burger {
  color: var(--text) !important;
}

.navbar-item {
  color: var(--text) !important;
}

.navbar-item h1 {
  color: var(--text) !important;
}

.navbar-item:hover {
  color: var(--hover-text) !important;
}

.card {
  background-color: var(--bg) !important;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content>h1, small, p {
  color: var(--text);
}

.tag {
  background-color: var(--tag) !important;
  color: var(--tag-text) !important;
}

.CookieConsent {
  z-index: 20000 !important;
}

div[class^='blog-post'] {
  color: var(--text);
}

.about-p {
  color: var(--text);
}

.footer {
  background-color: var(--bg) !important;
  color: var(--text);
  flex-shrink: 0;
}

.ul-last {
  margin-bottom: 1.5rem !important;
}