* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

body[data-theme="light"] {
  -webkit-font-smoothing: antialiased;
  --bg: #ffffff;
  --hover-text: #0e182a;
  --text: #0e182a;
  --toggle: hsl(0, 0%, 100%);
  --tag: rgb(36, 120, 43);
  --tag-text: white;
  --consent-accept: rgb(36, 120, 43);
  --consent-accept-text: white;
  --color-text-primary: #0e182a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #0e182a;
}

body[data-theme="dark"] {
  -webkit-font-smoothing: antialiased;
  --bg: #0e182a;
  --hover-text: #658acf;
  --text: white;
  --toggle: rgb(218, 55, 19);
  --tag: rgb(97, 136, 184);
  --tag-text: white;
  --consent-accept: rgb(36, 120, 43);
  --consent-accept-text: white;
  --svg-color-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
}

.navbar {
  background-color: var(--bg) !important;
}

.navbar-menu {
  background-color: var(--bg) !important;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.navbar-burger {
  color: var(--text) !important;
}

.navbar-item, .toggle {
  color: var(--text) !important;
  padding: 5px 14px;
}

.navbar-item h1 {
  color: var(--text) !important;
}

.navbar-item:hover {
  color: var(--hover-text) !important;
}

.card {
  background-color: var(--bg) !important;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5 {
  color: var(--text) !important;
}

.card-content > h1,
small,
p {
  color: var(--text);
}

.tag {
  background-color: var(--tag) !important;
  color: var(--tag-text) !important;
  cursor: pointer;
}

.CookieConsent {
  z-index: 20000 !important;
}

article[class^="blog-post"] {
  color: var(--text);
}

.about-p {
  color: var(--text);
}

.footer {
  background-color: var(--bg) !important;
  color: var(--text);
  flex-shrink: 0;
}

.ul-last {
  margin-bottom: 1.5rem !important;
}

.blog-image {
  cursor: pointer;
}

.button-wrapper {
  display: block;
  border: none;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;

  background: "black";
  color: "rgb(255, 255, 255)";
  font-size: "15px";
  font-weight: "600";
  border-radius: "6px";
  margin-top: marginTop;
  margin-bottom: marginBottom;

  /* :hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
  } */
}

.toggle-button {
  --toggle-width: 80px;
  --toggle-height: 38px;
  --toggle-padding: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  line-height: 0.9;
  width: var(--toggle-width);
  height: var(--toggle-height);
  padding: var(--toggle-padding);
  border: 0;
  border-radius: calc(var(--toggle-width) / 2);
  cursor: pointer;
  background: var(--color-bg-toggle);
  transition: transform 0.25s ease-in-out;
}

.toggle-span {
  position: absolute;
  top: var(--toggle-padding);
  left: var(--toggle-padding);
  width: calc(var(--toggle-height) - (var(--toggle-padding) * 1.5));
  height: calc(var(--toggle-height) - (var(--toggle-padding) * 2));
  border-radius: 50%;
  background: white;
}

// Admin Page Only Overwrites
[class*="ListCardTitle"], [class*="CollectionTopHeading"],
[class*="SidebarHeading"], [class*="CardHeading"] {
  color: #0e182a !important;
}

@import "bulma/bulma";